[Desktop Entry]
Encoding=UTF-8
Name=MR Welcome
Comment=MR Welcome Screen
Icon=gnome-info
Exec=mrwelcome-launcher
Terminal=false
Type=Application
Categories=
#OnlyShowIn=GNOME;XFCE;KDE;LXDE

